    .border-alert {
      border: 1px solid red;
      border-radius: 3px;
    }

    .shadowBox {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .btn-size {
      width: 150px;
      }
    .padding {
      height: 20px;
      background-color: transparent;
    }
